<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="Picassoweb.CreateProject"/>
      <class name="Picassoweb.BrokenLinks"/>
      <class name="Picassoweb.AcreAndCents"/>
      <class name="Picassoweb.TopNavigation"/>
      <class name="Picassoweb.Website"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
